{% extends "home/temp.html" %}

{% block content %} 

    {% load crispy_forms_tags %} 
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}

    <div class="container py-5">
        <h1> {{problem.title}} </h1>
        <h2> {{problem.description}} </h2>
        {% comment %} <a href="{{problem.answer.video_link}}"> Watch it </a> {% endcomment %}
        <iframe width="1080" height="720" src="{{problem.answer.video_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit"> Submit</button>                   
        </form>
        <textarea id="response" disabled rows="10" cols="100"></textarea>
        <div> 
            {{problem.answer.answer}}
        </div>
        {% for x in problem.comments.all %}
        
        
        <p class="text-center">{{x.comment}}, {{x.user.user.username}}</p>
        <br>
        
        {% endfor %}
    </div>

    <script>
        const input = document.querySelector('#response');
        const form = document.querySelector('form');
        const codearea = document.querySelector('#code');

        // if user presses tab key inside the textarea, prevent the default action of tabbing out of the textarea and instead insert a tab character
        codearea.addEventListener('keydown', function(e) {
            if (e.key === 'Tab') {
                e.preventDefault();
                const start = this.selectionStart;
                const end = this.selectionEnd;
                this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);
                this.selectionStart = this.selectionEnd = start + 1;
            }
        });
        document.addEventListener('DOMContentLoaded', () => {
            form.onsubmit = (e) => {
                e.preventDefault();
                fetch('{% url 'compile' %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'code' : form.code.value
                    })
                }).then(response => response.json())
                .then(data => {
                    input.value = data.output;
                });
            }
        });
    </script>
    
{% endblock %}

